
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */